<div class="container">
  <h3>Model Dynamic Form</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group" *ngFor="let element of elements">
      <dynamic-forms-element [element]="element" [form]="form"></dynamic-forms-element>
    </div>

    <input type="submit" class="btn btn-success" value="Сохранить" >
  </form>
</div>
