<h3>Initial Data</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Code</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let item of products">
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.category}}</td>
      <td>{{item.code}}</td>
      <td>{{item.date}}</td>
  </tr>
</table>
<br>
<h3>Initial Data</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Code</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let item of products">
    <td>{{item.name}}</td>
    <td>{{item.price | currency: 'USD'}}</td>
    <td>{{item.category | lowercase}}</td>
    <td>{{item.code | uppercase}}</td>
    <td>{{item.date | date}}</td>
  </tr>
</table>
<br><br>
<h3>Цепочный вызов фильтров:</h3>
<b>{{creationDate | date : 'fullDate' | uppercase}}</b>
<br><br>
<h3>Асинхронный фильтр:</h3>
<button (click)="getData()">Request</button>
<br>
<p>Response: {{dataFromServer | async }}</p>
<br><br>
<h3>Асинхронный фильтр с наблюдателем:</h3>
<button (click)="start()">Start</button>
<br>
<p>Time: {{ time | async }}</p>
<br><br>
<h3>Кастомный фильтр:</h3>
<input type="text" [(ngModel)]="value"/>
<p>
  {{ value | custom }}
</p>
<br><br>
<h3>Кастомный фильтр (формат):</h3>
<input type="text" [(ngModel)]="value"/>
<input type="radio" #metric name="measure" /> Metric system
<input type="radio" name="measure" checked="checked" /> Imperial system
<p>
  {{ value | formatDistance : metric.checked }}
</p>
<br><br>
<h3>Pure Pipe</h3>
<p>Исходные данные: {{ person1.firstName }} {{ person1.lastName }}</p>
<p>Фильтр: {{ person1 | purePipe }}</p>
<br>
<button (click)="changePropPerson1()">Поменять свойства person1</button>
<button (click)="changeRefPerson1()">Поменять ссылку person1</button>
<br><br>
<h3>Impure Pipe</h3>
<p>Исходные данные: {{ person2.firstName }} {{ person2.lastName }}</p>
<p>Фильтр: {{ person2 | impurePipe }}</p>
<br>
<button (click)="changePropPerson2()">Поменять свойства person2</button>
<button (click)="changeRefPerson2()">Поменять ссылку person2</button>
<br><br>
