<div [formGroup]="form">

  <label class="" [attr.for]="element.key">{{element.label}}</label>

  <div [ngSwitch]="element.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="element.key" [id]="element.key" [type]="element.type" class="form-control">

    <select *ngSwitchCase="'dropdown'" [formControlName]="element.key" [id]="element.key" class="form-control" >
      <option *ngFor="let option of element.options" [value]="option.key">{{option.value}}</option>
    </select>
  </div>

  <div class="alert alert-danger" *ngIf="!isValid && (isDirty || isTouched)">
    {{element.label}} обязательное поле
  </div>

</div>
