<div class="container">
  <br>
  <label for="userName" class="mr-2">User name: </label>
  <input type="text" placeholder="Введите название"
         [(ngModel)]="userName" id="userName" name="userName">
  <button (click)="search()">Поиск</button>
  <br>
  <div *ngIf="response">
    <img src="{{response.avatar_url}}" alt="">
    <p changeColor="green">Name: {{response.name}}</p>
    <p changeColorEvent>Company: {{response.company}}</p>
    <p changeColorEvent>Login: {{response.login}}</p>
    <p changeColorEvent>Email: {{response.email}}</p>
  </div>

  <h1>Атрибутивные директивы</h1>
  <br>
  <div>
    <p changeColor="pink">Name: Name</p>
    <p changeColorEvent>Company: Company</p>
    <p changeColorEvent>Login: Login</p>
    <p changeColorEvent>Email: Email</p>
  </div>


  <repeat message="This is repeat" count="5"></repeat>
  <br>
  <div repeat message="Hello" count="10"></div>
  <br><br>

  <p>
    Форма редактирования учетной записи
    <br><br>
    <button [confirm]="onDelete" message="Точна?">Удалить</button>
  </p>

  <br><br>
  <div coords style="background-color: lightblue; width: 300px; height: 300px"></div>
  <br><br>

  <p clickable>
    Click Me
  </p>
  <br>
  <div clickable>
    Click Me
  </div>
  <br>
  <br>

  <h1>Структурные директивы</h1>
  <br>

  <div *myIf="visible">
    My if sample
  </div>
  <button (click)="changeVisibility()">Change</button>
  <br><br>
  <div *myDelay="500">
    Element 1
  </div>
  <br>
  <div *myDelay="1000">
    Element 2
  </div>
  <br>
  <div *myDelay="1500">
    Element 3
  </div>
  <br>
  <div *myDelay="2000">
    Element 4
  </div>
  <br>
  <div *myDelay="2500">
    Element 5
  </div>
  <br>
  <div *myDelay="3000">
    Element 6
  </div>
  <br><br>

  <div *userCard="let fn = firstName; let ln = lastName">
    <p><b>First name: </b>{{fn}}</p>
    <p><b>Last name: </b>{{ln}}</p>
  </div>

</div>
