<div class="container">
  <br>
  <h4>
    <mark>Автомобиль:</mark>
    {{name}}
    <small>{{model}}</small>
  </h4>
  <div class="alert alert-success">
    Характеристики автомобиля:
    <ul>
      <li>Скорость: <strong>{{speed}}</strong> км</li>
      <li>Цвет автомобиля: <strong>{{colors.car}}</strong></li>
      <li>Цвет салона: <strong>{{colors.salon}}</strong></li>
      <li>Цвет колес: <strong>{{colors.wheels}}</strong></li>
    </ul>
  </div>

  <h5>Редактирование автомобиля</h5>
  <button class="btn btn-success" (click)="showEdit()">Редактировать</button>
  <div><br></div>
  <form *ngIf="isEdit">
    <div class="dorm-group">
      <input type="text" placeholder="Введите название"
             class="form-control" [(ngModel)]="name" name="name">
      <br>
      <input type="text" placeholder="Введите модель"
             class="form-control" [(ngModel)]="model" name="model">
      <br>
      <input type="number" placeholder="Введите скорость"
             class="form-control" [(ngModel)]="speed" name="speed">
      <br>
      <input type="text" placeholder="Введите цвет машины"
             class="form-control" [(ngModel)]="colors.car" name="car">
      <br>
      <input type="text" placeholder="Введите цвет салона"
             class="form-control" [(ngModel)]="colors.salon" name="salon">
      <br>
      <input type="text" placeholder="Введите цвет колес"
             class="form-control" [(ngModel)]="colors.wheels" name="wheels">
    </div>
  </form>
  <div><br></div>

  <h5>Возможности автомобиля</h5>
  <form *ngIf="isEdit" (submit)="addOption(option.value)">
    <div class="dorm-group">
      <label for="option">Добавление новой возможности</label>
      <input type="text" id="option" placeholder="Введите что-то"
             class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-outline-success">Добавить</button>
    </div>
  </form>
  <br>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options; let i = index">
        {{opt}} <button class="btn btn-warning btn-sm" (click)="deleteOption(i)">x</button>
      </li>
    </ul>
  </div>

  <h5>Выберите автомобиль</h5>
  <button class="btn btn-danger" (click)="carSelect('BMW')">BMW</button>
  <button class="btn btn-success" (click)="carSelect('Audi')">Audi</button>
  <button class="btn btn-info" (click)="carSelect('Mercedes')">Mercedes</button>
</div>
