<div class="container">
  <h3>Model Driven Form</h3>
  <form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="name">
      <div class="form-group" [ngClass]="{
    'has-error': firstName.invalid && firstName.dirty,
    'has-success': firstName.valid && firstName.dirty }">
        <label for="firstName">First Name: </label>
        <input id="firstName" type="text" class="form-control" formControlName="firstName">
        <div class="alert alert-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          Поле обязетельное для ввода
        </div>
      </div>
      <div class="form-group" [ngClass]="{
    'has-error': lastName.invalid && lastName.dirty,
    'has-success': lastName.valid && lastName.dirty }">
        <label for="lastName">Last Name: </label>
        <input id="lastName" type="text" class="form-control" formControlName="lastName">
        <div class="alert alert-danger" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
          Поле обязетельное для ввода
        </div>
      </div>
    </fieldset>
    <div class="form-group" [ngClass]="{
    'has-error': email.invalid && email.dirty,
    'has-success': email.valid && email.dirty }">
      <label for="email">Email: </label>
      <input id="email" type="email" class="form-control" formControlName="email">
      <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Поле обязетельное для ввода</p>
        <p *ngIf="email.errors.asyncEmailValidator">Не правильный формат</p>
        <p *ngIf="email.errors.blackListValidator">email заблокирован</p>
      </div>
    </div>
    <div class="form-group" [ngClass]="{
    'has-error': password.invalid && password.dirty,
    'has-success': password.valid && password.dirty }">
      <label for="password">Password: </label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required">Поле обязетельное для ввода</p>
        <p *ngIf="password.errors.minlength">Минимум {{password.errors.minlength.requiredLength}} символов</p>
      </div>
    </div>
    <div class="form-group" [ngClass]="{
    'has-error': confirm.invalid && confirm.dirty,
    'has-success': confirm.valid && confirm.dirty }">
      <label for="confirm">Confirm password: </label>
      <input id="confirm" type="password" class="form-control" formControlName="confirm">
      <div class="alert alert-danger" *ngIf="confirm.errors && (confirm.dirty || confirm.touched)">
        <p *ngIf="confirm.errors.required">Поле обязетельное для ввода</p>
        <p *ngIf="confirm.errors.minlength">Минимум {{confirm.errors.minlength.requiredLength}} символов</p>
      </div>
    </div>
    <input type="submit" class="btn btn-success">
  </form>
</div>

<div *ngIf="email.pending">
  Идет проверка email, подождите...
</div>
